.header {
  padding: 30px 80px 40px;
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background: center / contain no-repeat url(../images/background_header.svg),
    #fff;
  background-size: cover;
  box-sizing: border-box;
}

.header__title {
  z-index: 1;
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  margin: 183px 0 0;
  letter-spacing: -0.6px;
  font-weight: 500;
  font-style: normal;
}

.header__description {
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
  font-weight: normal;
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-style: normal;
}

.header__span-accent {
  display: block;
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.header__paragraph {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__image {
  z-index: 0;
  position: absolute;
  height: 568px;
  max-width: 646px;
  right: 5px;
  top: 124px;
}
