.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  padding: 30px 80px 40px;
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  margin: 0;
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  right: -50px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__title {
  z-index: 1;
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  margin: 183px 0 0;
  letter-spacing: -0.6px;
  font-weight: 500;
  font-style: normal;
}

.header__description {
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
  font-weight: normal;
  font-family: 'Noto Serif', 'Times New Roman', Times, serif;
  font-style: normal;
}

.header__span-accent {
  display: block;
  font-family: 'Noto Serif', 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.header__paragraph {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__image {
  z-index: 0;
  position: absolute;
  max-height: 646px;
  max-width: 568px;
  right: 5px;
  top: 124px;
}

.recipes {
  padding: 100px 80px 215px;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.recipes__title {
  max-width: 580px;
  margin-top: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
}

.recipes__subtitle {
  margin-top: 24px;
  margin-bottom: 24px;
  max-width: 438px;
  font-family: 'Noto Serif', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.recipes__videos {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.recipes__iframe {
  height: 0;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
